body{
  font-family: "ubuntu", san-serif;
  font-size: 16px;
  
}

main {
  align-items: center;
  max-width: 960 px;
  
}

table {
  height: 100px;
  width: 21rem;
  text-align: center;
  border: thin solid #C8C8C8;
  box-shadow: 10px 10px 10px #628ca6; 
  border-collapse: collapse; 
  
}
thead tr first-child, tfoot {
  background-color: #7fb9c2;  
  font-size: 20px; 
  text-align: center;
  border: thin solid #C8C8C8;
  border-collapse: collapse;
  
}

thead tr:nth-child(2) {
    font-size: 1.35rem;
   background-color: #628ca6;
}


thead tr:first-child, thead tr:nth-child(2) {
    letter-spacing: 0.05rem;
   background-color: #628ca6;
}

thead tr:nth-child(2),tbody tr:nth-child(4) td:nth-child(3) {
    color: #ffffff;
    background-color: #628ca6;
}


table td {
  border: .1rem solid #C8C8C8;
  border-collapse: collapse;
   
}

table tr:nth-child(odd)  {
  background-color: #e7f0ed;
  
}
table tr:nth-child(even) {
  background-color: #e7ffed;  
  
}

table tr:nth-child(5) td:first-child{
  font-style: italic;
  
}
table th{
  
  text-align: center;
  background-color: #7fb9c2;
  
  
}

table tr {
  text-align: center;}
  
tfoot tr{
  text-align: center;
  background-color: #7fb9c2;
  font-size: .75rem;
  padding: 5px;
}
 